.item {
  border: 1px solid chartreuse;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo_details {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.removeBtn {
  margin-left: auto;
}
