.form {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-width: 300px;
}
.input {
  padding: 10px;
  flex: 1 1 auto;
}
.errorInput {
  border: 1px solid red;
}
.error {
  font-size: 12px;
  color: rgb(235, 129, 129);
  font-weight: bolder;
}
